<div style="background-color: #f0ece3">
  <div class="container">
    <footer
      class="site-footer row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"
    >
      <div class="col mb-3">
        <a
          href="/"
          class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
        >
          <img
            src="/static/images/jpifooterlogo.png"
            alt="Logo"
            width="120"
            height="96"
            class="me-2"
          />
        </a>
        <p class="text-body-secondary">
          &copy; 2025 Jim Parker Indian. All rights reserved.
        </p>
      </div>

      <div class="col mb-3"></div>

      <div class="col mb-3">
        <h5>Contact Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >Phone: 03 9809 5599</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >Phone (International): 613 9809 5599</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >Fax: 03 9809 5699
            </a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-body-secondary"> Email:</a>
            <a href="mailto:jim@parkerindian.com.au">
              jim@parkerindian.com.au</a
            >
          </li>
        </ul>
      </div>
      <div class="col mb-3">
        <h5>Find us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >7 Cleveland road<br />
              ASHWOOD 3147 <br />
              Victoria, Australia</a
            >
          </li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Postal Address</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >P.O. Box 1015<br />
              ASHWOOD 3147 <br />
              Victoria, Australia</a
            >
          </li>
        </ul>
      </div>
    </footer>
  </div>
</div>
