* {
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.navbar,
.nav-link {
  font-family: Arial, Helvetica, sans-serif !important;
}
body {
  background-color: #f0ece3 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

nav.navbar {
  height: 56px !important;
  min-height: 56px !important;
  max-height: 56px !important;
  background-color: #800000 !important;
  color: #fff !important;
  overflow: hidden !important;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  width: 100vw;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 1050;
  border-radius: 0;
  min-width: 0;
  max-width: none;
  padding: 0.1rem 1rem;
}

nav.navbar .navbar-nav .nav-link,
nav.navbar .navbar-brand,
nav.navbar .navbar-toggler {
  color: #fff !important;
  font-size: 0.95rem;
}

nav.navbar .nav-link {
  color: #fff !important;
}

.navbar-nav .nav-item {
  margin-left: 3rem;
  margin-right: 3rem;
}

@media (max-width: 767.98px) {
  .navbar-nav .nav-item {
    margin-left: 0;
    margin-right: 0;
  }
}

footer.site-footer {
  background-color: #f0ece3 !important;
}

.btn {
  border: none;
  background: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.1);
  cursor: pointer;
  font-size: 1.25rem;
  margin: 0 1rem;
  padding: 0.25rem 2rem;
  transition: all 0.25s ease-in-out;
  background: hsl(110, 21%, 93%);
  color: hsl(141, 100%, 22%);
  margin-bottom: 1rem;
}

.btn:focus,
.btn:hover {
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.2);
  background: hsl(111, 21%, 86%);
}

.btn-maroon {
  background-color: #800000 !important;
  border-color: #800000 !important;
  color: #fff !important;
}

.btn-maroon:hover,
.btn-maroon:focus {
  background-color: #a83232 !important;
  border-color: #a83232 !important;
  color: #fff !important;
}

.about-container {
  font-size: 1.25rem;
  margin-top: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

nav.navbar .nav-link.text-white:hover,
nav.navbar .nav-link.text-white:focus {
  background-color: #a83232;
  color: #fff !important;
  border-radius: 0.75rem;
  text-decoration: none;
  transition: background 0.2s;
}
@media (max-width: 1200px) {
  nav.navbar {
    min-width: 98vw;
    max-width: 98vw;
    padding: 0.5rem 0.5rem;
  }
}
@media (max-width: 768px) {
  nav.navbar {
    min-width: 98vw;
    max-width: 98vw;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
  }
}
.navbar-brand img {
  height: 100px !important;
  width: auto !important;
  max-width: 250px !important;
  object-fit: contain !important;
  display: inline-block;
}
.p-5.mb-4.rounded-3 {
  background-image: url("/static/images/jpibackground.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  min-height: 700px;
}
