{% extends 'layout.html' %} {% block content %}

<h1 class="text-center">Vintage Indian Motorcycles For Sale</h1>
<p class="text-center">
  Below you will find both our stock of vintage motorcycles for sale and private
  advertisers using our site.
</p>
<div class="container">
  {% for row in content %}
  <div class="card my-3" style="max-width: 400px; margin: auto">
    <img
      class="card-img-top"
      src="{{ url_for('static', filename=row[4][7:]) }}"
      alt="Product image for the {{ row[1] }}"
      style="max-height: 250px; object-fit: cover"
    />
    <div class="card-body">
      <h5 class="card-title">{{ row[1] }}</h5>
      <p class="card-text"><strong>Year:</strong> {{ row[7] }}</p>
      <p class="card-text"><strong>Location:</strong> {{ row[6] }}</p>
      <p class="card-text"><strong>Contact:</strong> {{ row[9] }}</p>
      <a
        class="btn btn-primary"
        href="{{ row[2] }}"
        target="_blank"
        style="background-color: #800000; border-color: #800000"
      >
        Read More
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
