{% extends 'layout.html' %} {% block content %}

<h1 class="text-center">Vintage Indian Motorcycles For Sale</h1>
<p class="text-center">
  Below you will find both our stock of vintage motorcycles for sale and private
  advertisers using our site.
</p>
<div class="container">
  <div class="row">
    {% for row in content %}
    <div class="col-md-3 mb-4 d-flex align-items-stretch">
      <div class="card" style="max-width: 100%; width: 100%">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename=row[-1].replace('static/', '')) if row[-1] else url_for('static', filename='images/default.jpg') }}"
          alt="Product image for the {{ row[1] }}"
          style="max-height: 250px; object-fit: cover"
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ row[1] }}</h5>
          <p class="card-text"><strong>Location:</strong> {{ row[4] }}</p>
          <p class="card-text"><strong>Contact:</strong> {{ row[6] }}</p>
          <a
            class="btn btn-primary mt-auto"
            href="{{ url_for('product_detail', product_id=row[0]) }}"
            style="
              background-color: #800000;
              border-color: #800000;
              color: #fff;
            "
          >
            Read More
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
