{% extends 'layout.html' %} {% block content %}
<div
  class="p-5 mb-4 rounded-3 d-flex align-items-center justify-content-center"
  style="background-color: #800000 !important; min-height: 400px"
>
  <div class="text-center w-100">
    <h1 class="display-5 fw-bold text-white">Jim Parker Indian Motorcycles</h1>
    <p class="col-md-8 fs-4 text-white mx-auto">
      The last Indian shop west of LA...
    </p>
    <a href="{{ url_for('forsale') }}" class="btn btn-lg text-white btn-maroon">
      Browse For Sale
    </a>
  </div>
</div>
<div class="container px-4 py-5" id="hanging-icons">
  <h2 style="border-bottom: 2px solid #000">
    <strong>Some services we offer</strong>
    <hr />
  </h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div>
        <h3
          class="fs-2 text-body-emphasis d-flex align-items-center justify-content-center text-center"
        >
          Vintage Indian Motorcycle Restorations
        </h3>
        <img
          src="{{ url_for('static', filename='images/services.png') }}"
          alt="Restorations"
          class="card-img-top rounded"
          style="width: 100%; height: 200px; object-fit: cover"
        />
        <div class="card-body p-2">
          <p class="card-text mb-0" style="font-size: 0.95rem">
            We handle any job from servicing, carburettor, speedometer,
            generator, distributor overhauls, wheel building, transmission, full
            engine rebuilds to complete restorations on vintage Indian
            Motorcycles.
          </p>
        </div>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div>
        <h3
          class="fs-2 text-body-emphasis d-flex align-items-center justify-content-center text-center"
        >
          Frame and Fork Straightening
        </h3>
        <img
          src="{{ url_for('static', filename='images/fork.jpg') }}"
          alt="Fork and Frame Straightening"
          class="card-img-top rounded"
          style="width: 100%; height: 200px; object-fit: cover"
        />
        <div class="card-body p-2">
          <p class="card-text mb-0" style="font-size: 0.95rem">
            This is our personal specialty with a comprehensive frame jig,
            designed and built under the supervision of leading motorcycle
            engineer Lindsay Urquhart, is in place on the premises and is
            supported by factory frame drawings and a full range of available
            reproduction frame castings.
          </p>
        </div>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div>
        <h3
          class="fs-2 text-body-emphasis d-flex align-items-center justify-content-center text-center"
        >
          Motorcycles and Parts For Sale
        </h3>
        <img
          src="{{ url_for('static', filename='images/forsale.jpg') }}"
          alt="Fork and Frame Straightening"
          class="card-img-top rounded"
          style="width: 100%; height: 200px; object-fit: cover"
        />
        <div class="card-body p-2">
          <p class="card-text mb-0" style="font-size: 0.95rem">
            We always have a range of machines on display for sale, including
            Fours, Chiefs,Scouts, Despatch Tows and Traffic Cars. Over the
            counter and mail order supply of a large range of parts from leading
            US and Australian manufacturers are also available for most models.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>
{% endblock %}
