<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Parker Indian Motorcycles</title>
    <link
      rel="manifest"
      href="{{ url_for('static', filename='manifest.json') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/jpiwebsitelogo.png') }}"
    />
    <meta name="theme-color" content="" />
  </head>
  <body>
    {% include 'partials/menu.html' %}
    <div style="height: 90px"></div>
    {% block content %}{% endblock %} {% include "partials/footer.html" %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/serviceWorker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
